@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-normal{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display-flex{
    display: flex;
}
#school{
    font-size: 2rem;
    font-weight: 700;
    
}
.sch{
    height: 62px;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
#home{
    font-weight: 700;
    color: #FEA301;

}
#about{
    color: darkseagreen;
}
#faci{
    color: aquamarine;
}
#admi{
    color: blueviolet;
}
.btn-primary{
    background-color: orange;
    color: white;
    border-radius: 12px;
    padding: 10px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;

}
.navbar{
    justify-content: space-between;
    
    


    
}
.empowering{
    font-size: 3.5rem;
    font-weight: 700;
}
#emp{
   color: orange;
}
#towards{
    color: skyblue;
}
.banner-des{
    font-size: 1.25rem;
    font-weight: 400;
}
#enroll{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 47px;

}
.navbar, .banner,.standard-container, .curri{
    max-width:1440px;
    margin: 0 auto;
}
.banner-content{
    margin: 122px 50px 122px 0px;
}
/* end header */
.curri{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;




}
.curri-sec{
    background-image: url('../assets/bg.png');
}
.standard-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 28px;
    width: 1160px;
    
    
    
    

}
.stan-des{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    padding-left: 40px;
    padding-right: 40px;
}
.stan-head{
    font-size: 1.5rem;
    font-weight: 700;
}
.standard{
    /* width: 367px;
    height: 476px; */
    border-radius: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.stan-icon{
    margin-top: 52px;
}
.kinder{
    box-shadow:0 0 28px 1px rgba(222, 245, 255, 1)inset ;
}
.elementary{
    box-shadow:0 0 28px 1px #FFF4DC inset ;
}
.middle{
    box-shadow:0 0 28px 1px #F2E8FF inset ;
}
#kin{
    border: none;
    color: rgba(100, 200, 255, 1);
    background-color: white;
}
#ele{
    border: none;
    background-color: white;
    color: #F0AA00;
}
#mid{
    border: none;
    background-color: white;
    color: rgba(135, 0, 255, 1);
}
.image{
    
    justify-content: center;
}
#less{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
#great{
    width: 60px;
    height: 60px;
}