@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-normal{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    margin: 0;
}
.display-flex{
    display: flex;
}
#school{
    font-size: 2rem;
    font-weight: 700;
    
}
nav{
    margin-top:20px;
}
.sch{
    height: 62px;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
#home{
    font-weight: 700;
    color: #FEA301;

}
#home:hover{
    color: cadetblue;

}
#about{
    color: darkseagreen;
}
#about:hover{
    color: indigo;
}
#faci{
    color: aquamarine;
}
#faci:hover{
    color: crimson;
}
#admi{
    color: blueviolet;
}
#admi:hover{
    color: cornflowerblue;
}
.menu-bar{
    display:none;
}
.menu-bar{
    font-size: 30px;
    margin-top: 20px;
}
.btn-primary{
    background-color: orange;
    color: white;
    border-radius: 12px;
    padding: 10px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;

}
.btn-primary:hover{
    color: black;
    background-color: darkorchid;
}
.navbar{
    justify-content: space-between;
    
   
}
/* nav media */
@media screen and (max-width:425px){
    .nav-links{
        display:none;
    }
    .menu-bar{
        display: block;
        margin-right: 10px;
        margin-bottom: 20px;
        
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
    }
    .btn-primary{
        display: none;
    }
    #hero{
        max-width: 100%;
    }
    .empowering{
        margin-left: 30px;
    }
    .banner-des{
        margin-left: 30px;
    }
    
}
.empowering{
    font-size: 3.5rem;
    font-weight: 700;
    
}
#emp{
   color: orange;
}
#towards{
    color: skyblue;
}
.banner-des{
    font-size: 1.25rem;
    font-weight: 400;
    
}
#enroll{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 47px;
    border: none;

}
#enroll:hover{
    color: darkolivegreen;
    background-color: #3CD8E8;

}
.navbar, .banner,.standard-container, .curri{
    max-width:1440px;
    margin: 0 auto;
}
.banner-content{
    margin: 122px 50px 122px 0px;
}
/* end header */
.curri{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;




}
.curri-sec{
    background-image: url('../assets/bg.png');
    background-size: cover;
}
.standard-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 28px;
    
    
    
    
    

}
.symbol{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
    align-items: center;
}
#less{
    color: white;
    border-radius:50px ;
    
    padding: 20px;
    background-color: orange;
    text-align: center;
    
    
    
}
#less:hover{
    color: maroon;
    background-color: bisque;
}
#great{
    color: white;
    border-radius: 50px;
    
    padding: 20px;
    background-color: orange;
    text-align: center;
}
#great:hover{
    color: maroon;
    background-color: bisque;
}
.stan-des{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    padding-left: 40px;
    padding-right: 40px;
}
.stan-head{
    font-size: 1.5rem;
    font-weight: 700;
}
.standard{
    /* width: 367px;
    height: 476px; */
    border-radius: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.stan-icon{
    margin-top: 52px;
}
.kinder{
    box-shadow:0 0 28px 1px rgba(222, 245, 255, 1)inset ;
    height: 476px;
    width: 420px;
}
.elementary{
    box-shadow:0 0 28px 1px #FFF4DC inset ;
    height: 476px;
    width: 420px;
}
.middle{
    box-shadow:0 0 28px 1px #F2E8FF inset ;
    height: 476px;
    width: 420px;
}
#kin{
    border: none;
    color: rgba(100, 200, 255, 1);
    background-color: white;
}
#kin:hover{
    color: chocolate;
}
#ele:hover{
    color: brown;
}
#mid:hover{
    color: pink;
}
#ele{
    border: none;
    background-color: white;
    color: #F0AA00;
}
#mid{
    border: none;
    background-color: white;
    color: rgba(135, 0, 255, 1);
}
.image{
    
    justify-content: center;
}
/* standard media */
@media screen and (max-width:425px){
    .standard-container{
        flex-direction: column;
    }
    .symbol{
        display: none;
    }

}
/* Stories section start */
.stories-container{
    display: flex;
    gap: 18px;
    justify-content: center;
    padding: 0;
    margin-right: 300px;
    
    
    
}

.pera{
    position: relative;
   


}
.story-all{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
    width: 290px;
}
.stories{
    background-image: url('//assets/bg.png');
    background-size: cover;
    
    background: linear-gradient(rgba(254, 163, 1, 0.3), #FFFFFF  ) ;
    
    
}
.text1{
    border: 1px solid white ;
    border-radius:0 0 16px 16px ;
    background-color: white;
    margin-top: -10px;
    
    
}
.story1{
    width: 540px;
    height: 630px;
}
.story-head{
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}
.sto-des{
    
    padding-left: 15px;
    padding-right: 15px;
}
.story-icon{
    width: 540px;
    border-radius: 16px 16px 0 0;
}
.story{
    
    border-radius:16px 16px 16px 16px ;
    background-color: white;


}
.s1{
    height: 337px;
    width: 540px;
    border-radius: 16px 16px 0 0;
}
#s2{
    width: 290px;
    border-radius: 16px 16px 0 0;
}
#s3{
    width: 290px;
    border-radius: 16px 16px 0 0;
}
#s4{
    width: 290px;
    border-radius: 16px 16px 0 0;
}
#s5{
    width: 290px;
    border-radius: 16px 16px 0 0;
}
.story-head2{
    font-size: 1rem;
    font-weight: 700;
    padding-left: 38px;
    padding-right: 38px;
    
}
#sto1{
    padding: 14px 18px;
    background-color:#3CD8E8 ;
    border-radius: 47px;
    width: 174px;
    text-align: center;
    margin-top: -270px;
    position: relative;
    margin-left: 38px;

}
#sto2{
    padding: 10px 15px;
    background-color: palegreen;
    position: relative;
    border-radius: 47px;
    width: 155px;
    margin-left: 38px;
    margin-top: -140px;
    text-align: center;
}
#sto3{
    padding: 10px 15px;
    background-color: olive;
    position: relative;
    border-radius: 47px;
    width: 155px;
    margin-left: 38px;
    margin-top: -140px;
    text-align: center;
}
#sto4{
    padding: 10px 15px;
    background-color: yellowgreen;
    position: relative;
    border-radius: 47px;
    width: 155px;
    margin-left: 38px;
    margin-top: -140px;
    text-align: center;
}
#sto5{
    padding: 10px 15px;
    background-color: paleturquoise;
    position: relative;
    border-radius: 47px;
    width: 155px;
    margin-left: 38px;
    margin-top: -140px;
    text-align: center;
}
#view{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 47px;
    border: none;
    position: relative;
    margin-top: 100px;
    margin-left: 900px;

}
#view:hover{
    color: black;
    background-color: darkorchid;
}
/* story media */
@media screen and (max-width:425px){
    .story1{
        display: none;
    }

    #view{
        margin-left: 0px;

    }
    .story{
        height: 180px;
        width: 170px;
    }

    .story-all{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        margin-left: 50px;
        
        max-width: 100%;
        gap: 10px;
    }
    #s2{
        max-width: 100%;
        height:100px;
    }
    #s3{
        max-width: 100%;
        height:100px;
    }
    #s4{
        max-width: 100%;
        height:100px;
    }
    #s5{
        max-width: 100%;
        height:100px;
    }
    .story-head2{
       text-align: center;
        font-size: .7rem;
        padding:10px;
        

    }
    #sto2{
        width: 75%;
       font-size: .5rem;
       position: relative;
       

       
    }

    #sto3{
        width: 75%;
        
        font-size: .5rem;
    }

    #sto4{
        width: 75%;
        
        font-size: .5rem;
    }

    #sto5{
        width: 75%;
        
        font-size: .5rem;
    }
    #view{
        margin-left: 130px;
    }
}
/* footer part starts */
.footer-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    padding-top: 123px;
    padding-left: 200px;
    gap: 50px;
    


}
footer{
    background-color: mediumorchid;
    position: relative;
    height: 520px;
    margin-top: 80px;
    
}
.f-header{
    display: flex;
}
.about-school ul li{
    list-style: none;

}
.footer-font{
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}
/* footer media */
@media screen and (max-width:425px){
    .footer-main{
        grid: none;
        padding: 20px;
        
       
       
    }
    footer{
        height: 700px;
    }
}

